@import "tailwindcss";

.or {
  position: relative;
  padding: 0 10px;
}

.or::before,
.or::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 60%;
  height: 1px;
  background-color: rgb(155, 155, 155);
}

.or::before {
  left: 0;
  transform: translate(-110%, -50%);
}

.or::after {
  right: 0;
  transform: translate(110%, -50%);
}

.password {
  display: none;
}

.password:active {
  display: block;
}

.navigation {
  background-color: #d4d5d6;
  /* background-color: #bfc0c1; */
  height: 30px;
  width: 100%;
  border-radius: 7px;
  position: relative;
}

.navigation::before {
  content: '';
  width: 2px;
  border-radius: 6px;
  height: 60%;
  background: #3a0657;
}

.input {
  display: block;
}

.messages {
  scrollbar-width: none;
  scroll-behavior: smooth;
  z-index: 90;
}

.noscroll {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.rainbow-hover {
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}


.hello {
  position: i
}

.userTab {
  position: relative;
}

.userTab::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #3a0657;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

@keyframes typingDots {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }

  25% {
    opacity: 1;
    transform: translateY(-1px);
  }

  50% {
    opacity: 0.4;
    transform: translateY(0);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}

.animate-typingDots {
  animation: typingDots 1.4s infinite ease-in-out;
}