@import "tailwindcss";

.or {
  position: relative;
  padding: 0 10px;
}

.or::before,
.or::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 60%;
  height: 1px;
  background-color: rgb(155, 155, 155);
}

.or::before {
  left: 0;
  transform: translate(-110%, -50%);
}

.or::after {
  right: 0;
  transform: translate(110%, -50%);
}

.password {
  display: none;
}

.password:active {
  display: block;
}

.navigation {
  background-color: #d4d5d6;
  /* background-color: #bfc0c1; */
  height: 30px;
  width: 100%;
  border-radius: 7px;
  position: relative;
}

.navigation::before {
  content: '';
  width: 2px;
  border-radius: 6px;
  height: 60%;
  background: #3a0657;
}

.input {
  display: block;
}

.messages {
  scrollbar-width: none;
  scroll-behavior: smooth;
  z-index: 90;
}

.rainbow-hover {
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}

/* From Uiverse.io by satyamchaudharydev */
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #8f45b7;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.hello {
  position: i
}

.userTab {
  position: relative;
}
.userTab::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #3a0657;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}